Package: knxd
Version: 1.0
Section: net
Priority: required
Architecture: all
Maintainer: Mirko Hirsch <mirko.hirsch@gmx.de>
Depends: liblog-log4perl-perl, libproc-pid-file-perl (>= 1.25), libfile-touch-perl, librrds-perl, libmath-round-perl, libmath-round-perl, libconfig-std-perl, libproc-daemon-perl
Description: Daemon for EIB/KNX/(eBus)
